pip install pixellib
pip install cv2
pip install matplotlib
pip install numpy
pip install PIL
pip install shapely
pip install scipy
pip install shutil
pip install tqdm
pip install skimage
pip install rembg
pip install argparse
pip install tensorflow
pip install umap-learn
pip install hdbscan
pip install sklearn
pip install pathlib
pip install lightly
pip install torch
pip install torchvision
pip install pytorch_lightning
pip install pandas